form{
    width: 550px;
    margin: auto;
    background: #5582a2;
    padding: 40px;
    border-radius: 10px;
    color: aliceblue;
 }

 h1{
    text-align: center;
 }

 img{
    width: 550pX; 
 }